In [15]:
import pandas as pd
import numpy as np
from prettytable import PrettyTable

In [14]:
casas = pd.read_csv(
    'Dataset - Preço de Casas.csv',  
    encoding='latin1',              
    decimal=',',                    
    sep=';'                          
)

casas.head(5)

  Pés² Quartos Banheiros Vizinhança AnoConstrução Preço($)
0             2126 4 1 Rural 1969 215355,28361820139
1             2459 3 2 Rural 1980 195014,22162584803
2           1860 2 1 Subúrbio 1970 306891,0120763329
3            2294 2 1 Urbano 1996 206786,78715332696
4            2130 5 2 Subúrbio 2001 272436,239065061

In [16]:
casas.head(5).style.format(precision=2).background_gradient(cmap='coolwarm')

In [78]:
casas = pd.read_csv('Dataset - Preço de Casas.csv', sep=';', decimal=',', encoding='ISO-8859-1')
casas.columns

Index(['Pés² Quartos Banheiros Vizinhança AnoConstrução Preço($)'], dtype='object')

In [79]:
casas.head(5)

  Pés² Quartos Banheiros Vizinhança AnoConstrução Preço($)
0             2126 4 1 Rural 1969 215355,28361820139
1             2459 3 2 Rural 1980 195014,22162584803
2           1860 2 1 Subúrbio 1970 306891,0120763329
3            2294 2 1 Urbano 1996 206786,78715332696
4            2130 5 2 Subúrbio 2001 272436,239065061

In [80]:
casas.info

<bound method DataFrame.info of       Pés² Quartos Banheiros Vizinhança AnoConstrução Preço($)
0                 2126 4 1 Rural 1969 215355,28361820139
1                 2459 3 2 Rural 1980 195014,22162584803
2               1860 2 1 Subúrbio 1970 306891,0120763329
3                2294 2 1 Urbano 1996 206786,78715332696
4                2130 5 2 Subúrbio 2001 272436,239065061
...                                                  ...
49995             1282 5 3 Rural 1975 100080,86589451409
49996          2854 2 2 Subúrbio 1988 374507,65672699345
49997          2979 5 3 Subúrbio 1962 384110,55559035065
49998             2596 5 2 Rural 1984 380512,68595683837
49999             1572 5 3 Rural 2011 221618,58321806978

[50000 rows x 1 columns]>

In [81]:
df.head(3)

  Pés² Quartos Banheiros Vizinhança AnoConstrução Preço($)
0             2126 4 1 Rural 1969 215355,28361820139
1             2459 3 2 Rural 1980 195014,22162584803
2           1860 2 1 Subúrbio 1970 306891,0120763329

In [82]:
df.dtypes

Pés² Quartos Banheiros Vizinhança AnoConstrução Preço($)    object
dtype: object

In [83]:
casas.columns

Index(['Pés² Quartos Banheiros Vizinhança AnoConstrução Preço($)'], dtype='object')

In [84]:
casas = pd.read_csv('Dataset - Preço de Casas.csv', sep=';', encoding='ISO-8859-1', header=None, on_bad_lines='skip')

casas.head(10)

                                                   0
0  Pés² Quartos Banheiros Vizinhança AnoConstruçã...
1             2126 4 1 Rural 1969 215355,28361820139
2             2459 3 2 Rural 1980 195014,22162584803
3           1860 2 1 Subúrbio 1970 306891,0120763329
4            2294 2 1 Urbano 1996 206786,78715332696
5            2130 5 2 Subúrbio 2001 272436,239065061
6          2095 2 3 Subúrbio 2020 198208,80390657106
7           2724 2 1 Subúrbio 1993 343429,3191099182
8               2044 4 3 Rural 1957 184992,321268412
9            2638 4 3 Urbano 1959 377998,58815204125