In [15]:
import pandas as pd
import numpy as np
from prettytable import PrettyTable

In [14]:
casas = pd.read_csv(
    'Dataset - Preço de Casas.csv',  
    encoding='latin1',              
    decimal=',',                    
    sep=';'                          
)

casas.head(5)

  Pés² Quartos Banheiros Vizinhança AnoConstrução Preço($)
0             2126 4 1 Rural 1969 215355,28361820139
1             2459 3 2 Rural 1980 195014,22162584803
2           1860 2 1 Subúrbio 1970 306891,0120763329
3            2294 2 1 Urbano 1996 206786,78715332696
4            2130 5 2 Subúrbio 2001 272436,239065061

In [16]:
casas.head(5).style.format(precision=2).background_gradient(cmap='coolwarm')

In [39]:
casas = pd.read_csv('Dataset - Preço de Casas.csv', sep=';', decimal=',', encoding='ISO-8859-1')
casas.columns

Index(['Pés² Quartos Banheiros Vizinhança AnoConstrução Preço($)'], dtype='object')

In [40]:
casas.head(5)

  Pés² Quartos Banheiros Vizinhança AnoConstrução Preço($)
0             2126 4 1 Rural 1969 215355,28361820139
1             2459 3 2 Rural 1980 195014,22162584803
2           1860 2 1 Subúrbio 1970 306891,0120763329
3            2294 2 1 Urbano 1996 206786,78715332696
4            2130 5 2 Subúrbio 2001 272436,239065061

In [46]:
with open('Dataset - Preço de Casas.csv', 'r', encoding='ISO-8859-1') as file:
    casas = pd.read_csv(file, sep=',', decimal=',')

In [47]:
table = PrettyTable()
table.field_names = ["Pés²", "Quartos", "Banheiros", "Vizinhança", "AnoConstrução", "Preço($)"]
casas.head(3)

                               Pés² Quartos Banheiros Vizinhança AnoConstrução Preço($)
2126 4 1 Rural 1969 215355                                           28361820139
2459 3 2 Rural 1980 195014                                           22162584803
1860 2 1 Subúrbio 1970 306891                                          120763329

In [42]:
casas.columns

Index(['Pés² Quartos Banheiros Vizinhança AnoConstrução Preço($)'], dtype='object')

In [44]:
casas.info

<bound method DataFrame.info of       Pés² Quartos Banheiros Vizinhança AnoConstrução Preço($)
0                 2126 4 1 Rural 1969 215355,28361820139
1                 2459 3 2 Rural 1980 195014,22162584803
2               1860 2 1 Subúrbio 1970 306891,0120763329
3                2294 2 1 Urbano 1996 206786,78715332696
4                2130 5 2 Subúrbio 2001 272436,239065061
...                                                  ...
49995             1282 5 3 Rural 1975 100080,86589451409
49996          2854 2 2 Subúrbio 1988 374507,65672699345
49997          2979 5 3 Subúrbio 1962 384110,55559035065
49998             2596 5 2 Rural 1984 380512,68595683837
49999             1572 5 3 Rural 2011 221618,58321806978

[50000 rows x 1 columns]>